body {
    padding-top: 60px;
}

#pathImage{
    margin: 15px
}

img{
    width: 100%;
}

#visualiser-controls{
    padding: 15px;
    /* align-items: center; */
    width: 70%;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #28A4E5;
    border-radius: 15px;
    background-color: #f0f0f0;
}

.container{
    margin-top: 10px;
    width: 1120px;
}

.btn{
    margin: 10px;
}

.node {
    width: 20px;
    height: 20px;
    background-color: #f0f0f0;
    border-style: solid;
    border-color: slategray;
    border-width: 1px;

}

.visitedNode {
    width: 20px;
    height: 20px;
    background-color: #f0f0f0;
    border-style: solid;
    border-color: slategray;
    border-width: 1px;
    animation-name: visitedNodeAnimation;
    animation-duration: 2s;
}

@keyframes visitedNodeAnimation {
    0% {transform: scale(0.3); background-color: #ffdf00;}

    50% {transform: scale(0.6); background-color: lightgreen;}

    100% {transform: scale(1); background-color: cornflowerblue;}
}

.item {
    width: 100px;
    height: 100px;
}
